<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Free QR Code Generator: Create Custom QR Codes Online</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="QR code builder, Free barcode maker,  1D Barcode, 2D Barcode Creator, ">
	<meta name=" description"
		content="Free online QR code builder for url, text.  Add logos, frames, colors. Easy, quick, and completely free!">
	<link rel="stylesheet" href="../themes/css/public/css.css">
	<link rel="stylesheet" href="../themes/css/public/element-ui.css">
	<link rel="stylesheet" href="../themes/css/header.css">
	<link rel="stylesheet" href="../themes/css/footer.css">
	<link rel="stylesheet" href="../themes/css/code-generator-orgin.css">
	<link rel="stylesheet" href="../themes/css/barCodeSetting.css">
	<link rel="stylesheet" href="../themes/css/qrCodeSetting.css">
	<script>
		var lang = "en";
	</script>
	<script src="../themes/js/public/vue.min.js" type="text/javascript"></script>
	<script src="../themes/js/public/vue-router.js" type="text/javascript"></script>
	<script src="../themes/js/public/axios.min.js" type="text/javascript"></script>
	<script src="../themes/js/public/element-ui.js" type="text/javascript"></script>
	<script src="../themes/js/public/jquery.min.js" type="text/javascript"></script>
	<script src="../themes/js/public/sha1.js" type="text/javascript"></script>
	<script src="../themes/js/public/md5.js" type="text/javascript"></script>
	<script src="../themes/js/public/bwip.js" type="text/javascript"></script>
	<script src="../themes/js/public/gif.js" type="text/javascript"></script>
	<script src="../themes/js/public/gif.worker.js" type="text/javascript"></script>
	<script src="../themes/js/public/imagetracer_v1.2.6.js" type="text/javascript"></script>
	<script src="../themes/js/public/jszip.min.js" type="text/javascript"></script>
	<script src="../themes/js/public/qrcode.min.js" type="text/javascript"></script>
	<script src="../themes/js/common/header.js" type="text/javascript"></script>
	<script src="../themes/js/common/request.js" type="text/javascript"></script>
	<script src="../themes/js/common/data.js" type="text/javascript"></script>
	<script src="../themes/js/common/codeData.js" type="text/javascript"></script>

	<script src="../themes/js/dist/code.min.js" type="text/javascript"></script>

</head>
<style type="text/css">
	.code-set-btngroup {
		width: 100%;
	}

	/* Đã xóa #codeTextarea { height: 15vw; } để ưu tiên CSS trong code-generator-orgin.css */
</style>

<body>

	<body>
		<div class="introduction-wrapper">
			<div class="code-operate-desc">
				<p class="operate-desc-title">Công cụ tạo mã QR Miễn phí & Chuyên nghiệp</p>
				<div class="separator-line"></div>
				<p class="operate-desc-text">Tạo mã **QR code chất lượng cao** cho URL, Văn bản, Email, WiFi, và nhiều
					loại dữ liệu khác. Tùy chỉnh màu sắc, thêm logo, khung viền để tạo ra mã QR độc đáo, dễ dàng quét và
					hoàn toàn miễn phí.</p>
				<p class="operate-desc-text">Bắt đầu bằng cách nhập nội dung của bạn vào ô bên dưới, sau đó sử dụng nút
					**Setting (Cài đặt)** để tùy chỉnh giao diện mã QR theo ý muốn!</p>
			</div>
		</div>
		<div class="qr-code-main">

			<div class="code-operate-container">
				<div class="el-row" style="width: 100%;">
					<div class="code-operate-col el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-14">
						<div class="code-operate-box code-form-operate-box">
							<div class="code-operate-box-header">
								<p class="code-operate-title">QR code data</p>
								<img src="../themes/img/setting.png"
									onclick="handleOutsideButton('handleOpenQRCodeSetting')">
							</div>
							<div class="code-data-box-outer">
								<div class="code-data-box">
									<div class="code-data code-data-qr el-textarea">
										<textarea autocomplete="off"
											placeholder="Nhập văn bản hoặc URL bạn muốn chuyển thành QR code tại đây"
											class="el-textarea__inner" style="resize: none; min-height: 33px;"
											id="codeTextarea"></textarea>
									</div>
								</div>
							</div>
							<div class="code-set-btngroup" style="width: 100%;">
								<button type="button" class="el-button el-button--default" onclick="getBarCodeData()">
									<span>Create QR Code</span>
								</button>
								<button type="button" class="el-button el-button--default"
									onclick="handleResetParameter('qrCode')">
									<i class="el-icon-refresh-left"></i><span>Refresh</span>
								</button>
							</div>
						</div>
					</div>
					<div class="code-operate-col el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-10">
						<div class="code-operate-box code-form-operate-box">
							<div class="code-operate-box-header">
								<p class="code-operate-title">Preview</p>
								<img src="../themes/img/copy.png" onclick="handleOutsideButton('handleOpenCopy')">
							</div>
							<div class="code-preview-box">
								<img id="codeImg" class="code-yes" src="../uploads/code-images/QR-code-data.png"
									alt="text" />
							</div>
							<div class="code-set-btngroup">
								<button type="button" class="code-dowload el-button el-button--default"
									onclick="handleOutsideButton('handleDownload')"><span>Download</span></button>
							</div>
						</div>
					</div>
				</div>
			</div>


			<script>
				$(document).ready(function () {
					var firstUrl = localStorage.getItem("firstUrl");
					if (!firstUrl) {
						localStorage.setItem("firstUrl", window.location.href);
					}
				});
			</script>
			<link href="https://www.hprt.com/themes/styles/select2.css" rel="stylesheet" />

			<div class="code-operate-container" id="app">

				<div class="qrcode-dialog" v-cloak>

					<el-dialog v-if="!qrcode_showDrawer" v-cloak class="code-dialog-box"
						:visible.sync="qrcode_dialogVisible" width="1146px" :close-on-click-modal="false"
						:before-close="handleCloseDialog">
						<div class="dialog-container">
							<div class="dialog-container-left">
								<el-tabs v-model="qrcode_activeName">

									<el-tab-pane label="Style" name="style_attrs"
										:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
										<div class="style-container">
											<div class="style-class-box">
												<div class="style-class-item" v-for="(item, index) in styleClassList"
													:key="index" :style="{
									  border:
										currentStyleClassIndex == index
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										currentStyleClassIndex == index
										  ? 'rgba(0,53,145,0.1)'
										  : '',
									  color: currentStyleClassIndex == index ? '#2255F4' : '',
									}" @click="handleStyleClass(index)">
													{{ item.class_name }}
												</div>
											</div>
											<div class="style-box">
												<div v-for="(item, index) in styleList" :key="index"
													class="style-box-item" :style="{
									  border:
										setStyleClassIndex == currentStyleClassIndex &&
										currentStyleIndex == index
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										setStyleClassIndex == currentStyleClassIndex &&
										currentStyleIndex == index
										  ? 'rgba(0,53,145,0.1)'
										  : '',
									}" @click="handleStyle(item, index)">
													<img :src="item.style_url" />
												</div>
											</div>
										</div>
									</el-tab-pane>

									<el-tab-pane label="Logo" name="logo_attrs"
										:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
										<div>
											<p class="class-title">Select Logo</p>
											<div class="select-box">
												<div class="select-box-item select-box-effect" :style="{
									  border:
										!qrCodeParameter.logoUrl && !qrCodeParameter.logoUpload
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										!qrCodeParameter.logoUrl && !qrCodeParameter.logoUpload
										  ? 'rgba(0,53,145,0.1)'
										  : '',
									}" @click="handleLogo('none')">
													<img src="../themes/img/none.png"
														style="width: 32px; height: 32px" />
													<p>None</p>
												</div>

												<div class="select-box-item select-box-effect"
													v-if="!qrCodeParameter.uploadUrl" @click="handleLogoUpload">
													<img src="../themes/img/upload.png"
														style="width: 32px; height: 32px" />
													<p>Upload</p>
												</div>

												<div v-else class="select-box-item" :style="{
									  border:
										qrCodeParameter.uploadUrl && qrCodeParameter.logoUpload
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										qrCodeParameter.uploadUrl && qrCodeParameter.logoUpload
										  ? 'rgba(0,53,145,0.1)'
										  : '',
									}" @click="handleLogo('upload')">
													<img :src="qrCodeParameter.uploadUrl" />
													<div class="del-btn" @click.stop="handleDelUploadLogo()">
														<i class="el-icon-error"></i>
													</div>
												</div>
												<div v-for="(item, index) in logoList" :key="index"
													class="select-box-item" :style="{
									  border:
										currentLogoIndex == index && !qrCodeParameter.logoUpload
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										currentLogoIndex == index && !qrCodeParameter.logoUpload
										  ? 'rgba(0,53,145,0.1)'
										  : '',
									}" @click="handleLogo('list', item, index)">
													<img :src="item.logo_url" />
												</div>
											</div>

											<div v-if="logoStyleImg">
												<p class="class-title">Logo effect</p>
												<div class="select-box">
													<div class="select-box-item select-box-effect" :style="{
										border:
										  qrCodeParameter.logoStyle == 0
											? '1px solid #2255F4'
											: 'none',
										background:
										  qrCodeParameter.logoStyle == 0
											? 'rgba(0,53,145,0.1)'
											: '',
									  }" @click="handleLogoStyle(0)">
														<img :src="logoStyleImg" />
														<p>Original</p>
													</div>
													<div class="select-box-item select-box-effect" :style="{
										border:
										  qrCodeParameter.logoStyle == 1
											? '1px solid #2255F4'
											: 'none',
										background:
										  qrCodeParameter.logoStyle == 1
											? 'rgba(0,53,145,0.1)'
											: '',
									  }" @click="handleLogoStyle(1)">
														<img :src="logoStyleImg" style="border-radius: 8px" />
														<p>Rounded</p>
													</div>
													<div class="select-box-item select-box-effect" :style="{
										border:
										  qrCodeParameter.logoStyle == 2
											? '1px solid #2255F4'
											: 'none',
										background:
										  qrCodeParameter.logoStyle == 2
											? 'rgba(0,53,145,0.1)'
											: '',
									  }" @click="handleLogoStyle(2)">
														<img :src="logoStyleImg" style="border-radius: 50%" />
														<p>Circle</p>
													</div>
												</div>
											</div>
										</div>
									</el-tab-pane>

									<el-tab-pane label="Border" name="border_attrs"
										:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
										<div>
											<p class="class-title">Select the border</p>
											<div class="select-box border-select-box">
												<div class="select-box-item select-box-effect" :style="{
									  border: !qrCodeParameter.border
										? '1px solid #2255F4'
										: 'none',
									  background: !qrCodeParameter.border
										? 'rgba(0,53,145,0.1)'
										: '',
									}" @click="handleBorder('none')">
													<img src="../themes/img/none.png"
														style="width: 32px; height: 32px" />
													<p>None</p>
												</div>
												<div v-for="(item, index) in borderList" :key="index"
													class="select-box-item" :style="{
									  border:
										currentBorderIndex == index
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										currentBorderIndex == index ? 'rgba(0,53,145,0.1)' : '',
									}" @click="handleBorder('list', item, index)">
													<img :src="item.frame_url" />
												</div>
											</div>

											<div v-if="currentBorderIndex > -1">
												<p class="class-title">Outline color</p>
												<div style="display: flex; align-items: center">
													<el-color-picker v-model="qrCodeParameter.borderColor"
														@change="handleSetBorderColor"></el-color-picker>
													<el-checkbox v-model="qrCodeParameter.setBorderColor"
														@change=" getQRCode" class="color-checkbox">
														Apply to a border </el-checkbox>
												</div>
											</div>
										</div>
									</el-tab-pane>

									<el-tab-pane label="Code points" name="codePoints_attrs"
										:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
										<div>
											<p class="class-title">Code points</p>
											<div class="select-box codePoint-select-box">
												<div v-for="(item, index) in codePointList" :key="index"
													class="select-box-item" :style="{
									  border:
										codePointIndex == index ? '1px solid #2255F4' : 'none',
									  background:
										codePointIndex == index ? 'rgba(0,53,145,0.1)' : '',
									}" @click="handleCodePoint(item, index)">
													<img :src="item.point_url" />
												</div>
											</div>
											<div class="code-point-row">
												<div class="code-point-col">
													<p class="class-title">Zoom</p>
													<div class="code-point-slider">
														<el-slider v-model="qrCodeParameter.codePointScale" :min="30"
															:max="100" @change=" getQRCode"></el-slider>
														<el-input-number style="width: 88px"
															v-model="qrCodeParameter.codePointScale"
															controls-position="right" :min="30" :max="100"
															@change=" getQRCode" @blur="
										  qrCodeParameter.codePointScale =
											qrCodeParameter.codePointScale
											  ? qrCodeParameter.codePointScale
											  : 100
										"></el-input-number>
													</div>
												</div>
												<div class="code-point-col">
													<p class="class-title">Opacity</p>
													<div class="code-point-slider">
														<el-slider v-model="qrCodeParameter.codePointOpacity" :min="30"
															:max="100" @change=" getQRCode"></el-slider>
														<el-input-number style="width: 88px"
															v-model="qrCodeParameter.codePointOpacity"
															controls-position="right" :min="30" :max="100"
															@change=" getQRCode" @blur="
										  qrCodeParameter.codePointOpacity =
											qrCodeParameter.codePointOpacity
											  ? qrCodeParameter.codePointOpacity
											  : 100
										"></el-input-number>
													</div>
												</div>
											</div>
											<p class="class-title">Code eyes</p>
											<div class="style-class-box">
												<div v-for="(item, index) in codeEyesList" :key="index"
													class="select-box-item Buttonhole" :style="{
									  border:
										codeEyesIndex == index ? '1px solid #2255F4' : 'none',
									  background:
										codeEyesIndex == index ? 'rgba(0,53,145,0.1)' : '',
									}" @click="handleCodeEyes(item, index)">
													<img :src="item.point_buttonhole_url" />
												</div>
											</div>
										</div>
									</el-tab-pane>

									<el-tab-pane label="Color" name="color_attrs"
										:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
										<div>
											<el-radio-group v-model="qrCodeParameter.foreType" class="radio-box">
												<el-radio :label="0">Solid color</el-radio>
												<el-radio :label="1">Gradient color</el-radio>
												<el-radio :label="2">Foreground diagram</el-radio>
											</el-radio-group>

											<div v-if="qrCodeParameter.foreType == 2" class="colorImg-container">
												<p class="class-title">Recommended gallery</p>
												<div class="select-box colorImg-select-box">

													<div v-if="!qrCodeParameter.uploadForeImgUrl"
														class="select-box-item select-box-effect"
														@click="handleOpenForeImgUpload">
														<img src="../themes/img/upload.png"
															style="width: 32px; height: 32px" />
														<p>Upload</p>
													</div>

													<div v-else class="select-box-item" :style="{
										border:
										  qrCodeParameter.uploadForeImgUrl &&
										  qrCodeParameter.foreImgUpload
											? '1px solid #2255F4'
											: 'none',
										background:
										  qrCodeParameter.uploadForeImgUrl &&
										  qrCodeParameter.foreImgUpload
											? 'rgba(0,53,145,0.1)'
											: '',
									  }" @click="handleForeImgUpload()">
														<img :src="qrCodeParameter.uploadForeImgUrl" />
														<div class="del-btn" @click.stop="handleDelUploadForeImg()">
															<i class="el-icon-error"></i>
														</div>
													</div>
													<div v-for="(item, index) in foreImgList" :key="index"
														class="select-box-item" :style="{
										border:
										  foreImgIndex == index ? '1px solid #2255F4' : 'none',
										background:
										  foreImgIndex == index ? 'rgba(0,53,145,0.1)' : '',
									  }" @click="handleForeImg(item, index)">
														<img :src="item.foreground_url" />
													</div>
												</div>
												<el-checkbox v-model="qrCodeParameter.setEyeColor"
													class="color-checkbox" style="margin: 0" @change=" getQRCode">
													Apply to the code eyes </el-checkbox>
											</div>

											<div v-else>
												<p class="class-title">Recommended colors</p>
												<div class="select-box color-container">
													<div v-if="qrCodeParameter.foreType == 0" class="color-box"
														v-for="color in solidColor" :key="color" :style="{
										border:
										  qrCodeParameter.foreColor1 == color
											? '1px solid #2255F4'
											: '',
									  }" @click="handleColor(color, 'solid')">
														<div class="color-box-inner" :style="{ background: color }">
														</div>
													</div>

													<div v-if="qrCodeParameter.foreType == 1" class="color-box"
														v-for="(colorArr, index) in gradientColor" :key="index" :style="{
										border:
										  qrCodeParameter.foreColor1 == colorArr[0] &&
										  qrCodeParameter.foreColor2 == colorArr[1]
											? '1px solid #2255F4'
											: '',
									  }" @click="handleColor(colorArr, 'gradient')">
														<div class="color-box-inner" :style="{
										  background:
											'linear-gradient(180deg, ' +
											colorArr[0] +
											' 0%, ' +
											colorArr[1] +
											' 100%)',
										}"></div>
													</div>
												</div>
											</div>

											<div class="color-select-box" v-if="
									qrCodeParameter.foreType == 0 ||
									qrCodeParameter.foreType == 1
								  ">
												<p class="class-title">Custom colors</p>
												<div class="custom-color">
													<el-color-picker v-model="qrCodeParameter.foreColor1"
														@change=" getQRCode">
													</el-color-picker>

													<el-color-picker class="color-select-right-box"
														v-if="qrCodeParameter.foreType == 1"
														v-model="qrCodeParameter.foreColor2" @change=" getQRCode">
													</el-color-picker>
													<el-checkbox v-model="qrCodeParameter.setEyeColor"
														class="color-checkbox" @change=" getQRCode">
														Apply to the code eyes </el-checkbox>
												</div>
											</div>

											<div v-if="qrCodeParameter.foreType == 1">
												<p class="class-title">Gradient direction</p>

												<el-radio-group v-model="qrCodeParameter.gradientWay" class="radio-box"
													@change=" getQRCode">
													<el-radio :label="0">Vertical</el-radio>
													<el-radio :label="1">Horizontal</el-radio>
													<el-radio :label="2">Diagonal</el-radio>
													<el-radio :label="3">Center</el-radio>
												</el-radio-group>
											</div>

											<div class="color-select-box">
												<p class="class-title">Background color</p>
												<el-color-picker v-model="qrCodeParameter.background"
													@change=" getQRCode">
												</el-color-picker>
											</div>
											<div style="display: flex; align-items: center">
												<div>
													<p class="class-title">Code inside the eye</p>
													<el-color-picker v-model="qrCodeParameter.eyeInColor"
														@change="handleSetCodeEyesColor"></el-color-picker>
												</div>
												<div class="color-select-right-box">
													<p class="class-title">Code outside the eye</p>
													<el-color-picker v-model="qrCodeParameter.eyeOutColor"
														@change="handleSetCodeEyesColor"></el-color-picker>
												</div>
											</div>
										</div>
									</el-tab-pane>

									<el-tab-pane label="Text" name="text_attrs"
										:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
										<div>
											<div class="flex-row">
												<div class="flex-col">
													<p class="class-title">Size</p>
													<el-input-number style="width: 100%"
														v-model="qrCodeParameter.fontSize" controls-position="right"
														:min="16" :max="48" @change=" getQRCode" @blur="
										qrCodeParameter.fontSize = qrCodeParameter.fontSize
										  ? qrCodeParameter.fontSize
										  : 38
									  "></el-input-number>
												</div>
												<div class="flex-col">
													<p class="class-title">Font</p>
													<el-select style="width: 100%" v-model="qrCodeParameter.fontFamily"
														placeholder="Please select" @change=" getQRCode">
														<el-option label="宋体" value="SimSun"></el-option>
														<el-option label="黑体" value="SimHei"></el-option>
														<el-option label="楷体" value="KaiTi"></el-option>
													</el-select>
												</div>
												<div class="flex-col">
													<p class="class-title">Text color</p>
													<el-color-picker v-model="qrCodeParameter.fontColor"
														@change=" getQRCode">
													</el-color-picker>
												</div>
											</div>
											<div class="add-text-box">
												<p class="class-title">Add text
												</p>
												<el-input class="text-input-box" v-model="qrCodeParameter.textContent1"
													placeholder="Enter the first line of text you want to add"></el-input>
												<div style="display: flex">
													<el-input class="text-input-box"
														v-model="qrCodeParameter.textContent2"
														placeholder="Please enter the second line of text you want to add">
													</el-input>
													<el-button class="text-confirm" type="text" @click=" getQRCode">
													</el-button>
													<el-button class="text-confirm"
														style="color: #929293 !important; margin-left: 12px" type="text"
														@click="handleClear()">Clear</el-button>
												</div>
											</div>
											<div>
												<p class="class-title">Text position</p>
												<el-radio-group v-model="qrCodeParameter.textPoistion" class="radio-box"
													@change=" getQRCode">
													<el-radio :label="2">Code outside</el-radio>
													<el-radio :label="1">Code in the middle</el-radio>
												</el-radio-group>
											</div>
										</div>
									</el-tab-pane>

									<el-tab-pane label="Other settings" name="other_attrs">
										<div class="other-container">
											<div class="flex-row">
												<div class="flex-col-other">
													<p class="class-title">QR code margins</p>
													<el-select style="width: 100%" v-model="qrCodeParameter.margin"
														placeholder="Please select"
														:disabled="qrCodeParameter.codeType != 'qrcode'"
														@change=" getQRCode">
														<el-option label="None" :value="0"></el-option>
														<el-option label="1 color block" :value="1"></el-option>
														<el-option label="2 color block" :value="2"></el-option>
														<el-option label="3 color block" :value="3"></el-option>
														<el-option label="4 color block" :value="4"></el-option>
													</el-select>
												</div>
												<div class="flex-col-other">
													<p class="class-title">Error correction rate</p>

													<el-input-number v-if="
										qrCodeParameter.codeType == 'azteccode' ||
										qrCodeParameter.codeType == 'hibcazteccode'
									  " style="width: 100%" v-model="qrCodeParameter.eclevel" controls-position="right" :min="5" :max="95" @blur="
										qrCodeParameter.eclevel = qrCodeParameter.eclevel
										  ? qrCodeParameter.eclevel
										  : 23
									  " @change=" getQRCode"></el-input-number>

													<el-select v-else style="width: 100%"
														v-model="qrCodeParameter.eclevel" placeholder="Please select"
														@change=" getQRCode" :disabled="
										!currentCodeType.eclevelList ||
										currentCodeType.eclevelList.length < 1
									  ">
														<el-option v-for="item in currentCodeType.eclevelList"
															:key="item.value" :label="item.label"
															:value="item.value"></el-option>
													</el-select>
												</div>
											</div>
											<div class="ratio-box">
												<p class="class-title">Image resolution</p>
												<el-select style="width: 100%" v-model="qrCodeParameter.ResolutionRatio"
													placeholder="Please select" @change=" getQRCode">
													<el-option label="96" :value="0"></el-option>
												</el-select>
											</div>
											<div>
												<p class="class-title">Image format</p>
												<el-select style="width: 100%" v-model="qrCodeParameter.ImageType"
													placeholder="Please select" @change=" getQRCode">
													<el-option label="JPG" :value="0"></el-option>
													<el-option label="PNG" :value="1"></el-option>
													<el-option label="GIF" :value="2"></el-option>
													<el-option label="SVG" :value="3"></el-option>
												</el-select>
											</div>
										</div>
									</el-tab-pane>
								</el-tabs>
							</div>
							<div>
								<div class="preview-container" v-loading="loading">

									<img v-if="code_img" :src="code_img" />
									<p @click=" handleResetParameter('qrCode')">
										<i class="el-icon-refresh-left"></i>Reset
									</p>
								</div>
								<div class="preview-down-btn">
									<el-button @click="handleDownload()">Download</el-button>
								</div>
							</div>
						</div>
					</el-dialog>

					<el-drawer v-if="qrcode_showDrawer" class="drawer-box" :visible.sync="qrcode_dialogVisible"
						direction="btt" :withHeader="false" :before-close="handleCloseDialog">
						<div class="drawer-container">
							<div class="drawer-close-btn" @click="handleCloseDialog">
								<i class="el-icon-close"></i>
							</div>
							<el-tabs v-model="qrcode_activeName">

								<el-tab-pane label="Style" name="style_attrs"
									:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
									<div class="style-container">
										<div class="style-class-box">
											<div class="style-class-item" v-for="(item, index) in styleClassList"
												:key="index" :style="{
									border:
									  currentStyleClassIndex == index
										? '1px solid #2255F4'
										: 'none',
									background:
									  currentStyleClassIndex == index
										? 'rgba(0,53,145,0.1)'
										: '',
									color: currentStyleClassIndex == index ? '#2255F4' : '',
								  }" @click="handleStyleClass(index)">
												{{ item.class_name }}
											</div>
										</div>
										<el-row class="style-box">
											<el-col :span="6" v-for="(item, index) in styleList" :key="index"
												class="style-box-item-outer">
												<div class="style-box-item" :style="{
									  border:
										setStyleClassIndex == currentStyleClassIndex &&
										currentStyleIndex == index
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										setStyleClassIndex == currentStyleClassIndex &&
										currentStyleIndex == index
										  ? 'rgba(0,53,145,0.1)'
										  : '',
									}" @click="handleStyle(item, index)">
													<img :src="item.style_url" />
												</div>
											</el-col>
										</el-row>
									</div>
								</el-tab-pane>

								<el-tab-pane label="Logo" name="logo_attrs"
									:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
									<div>
										<p class="class-title">Select Logo</p>
										<el-row class="select-box">
											<el-col :span="6" class="style-box-item-outer">
												<div class="select-box-item select-box-effect" :style="{
									  border:
										!qrCodeParameter.logoUrl && !qrCodeParameter.logoUpload
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										!qrCodeParameter.logoUrl && !qrCodeParameter.logoUpload
										  ? 'rgba(0,53,145,0.1)'
										  : '',
									}" @click="handleLogo('none')">
													<img src="../themes/img/none.png"
														style="width: 32px; height: 32px" />
													<p>None</p>
												</div>
											</el-col>
											<el-col :span="6" class="style-box-item-outer">

												<div v-if="!qrCodeParameter.uploadUrl"
													class="select-box-item select-box-effect" @click="handleLogoUpload">
													<img src="../themes/img/upload.png"
														style="width: 32px; height: 32px" />
													<p>Upload</p>
												</div>

												<div v-else class="select-box-item" :style="{
									  border:
										qrCodeParameter.uploadUrl && qrCodeParameter.logoUpload
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										qrCodeParameter.uploadUrl && qrCodeParameter.logoUpload
										  ? 'rgba(0,53,145,0.1)'
										  : '',
									}" @click="handleLogo('upload')">
													<img :src="qrCodeParameter.uploadUrl" />
													<div class="del-btn" @click.stop="handleDelUploadLogo()">
														<i class="el-icon-error"></i>
													</div>
												</div>
											</el-col>
											<el-col :span="6" v-for="(item, index) in logoList" :key="index"
												class="style-box-item-outer">
												<div class="select-box-item" :style="{
									  border:
										currentLogoIndex == index && !qrCodeParameter.logoUpload
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										currentLogoIndex == index && !qrCodeParameter.logoUpload
										  ? 'rgba(0,53,145,0.1)'
										  : '',
									}" @click="handleLogo('list', item, index)">
													<img :src="item.logo_url" />
												</div>
											</el-col>
										</el-row>

										<div v-if="logoStyleImg">
											<p class="class-title">Logo effect</p>
											<el-row class="select-box">
												<el-col :span="6" class="style-box-item-outer">
													<div class="select-box-item select-box-effect" :style="{
										border:
										  qrCodeParameter.logoStyle == 0
											? '1px solid #2255F4'
											: 'none',
										background:
										  qrCodeParameter.logoStyle == 0
											? 'rgba(0,53,145,0.1)'
											: '',
									  }" @click="handleLogoStyle(0)">
														<img :src="logoStyleImg" />
														<p>Original</p>
													</div>
												</el-col>
												<el-col :span="6" class="style-box-item-outer">
													<div class="select-box-item select-box-effect" :style="{
										border:
										  qrCodeParameter.logoStyle == 1
											? '1px solid #2255F4'
											: 'none',
										background:
										  qrCodeParameter.logoStyle == 1
											? 'rgba(0,53,145,0.1)'
											: '',
									  }" @click="handleLogoStyle(1)">
														<img :src="logoStyleImg" style="border-radius: 8px" />
														<p>Rounded</p>
													</div>
												</el-col>
												<el-col :span="6" class="style-box-item-outer">
													<div class="select-box-item select-box-effect" :style="{
										border:
										  qrCodeParameter.logoStyle == 2
											? '1px solid #2255F4'
											: 'none',
										background:
										  qrCodeParameter.logoStyle == 2
											? 'rgba(0,53,145,0.1)'
											: '',
									  }" @click="handleLogoStyle(2)">
														<img :src="logoStyleImg" style="border-radius: 50%" />
														<p>Circle</p>
													</div>
												</el-col>
											</el-row>
										</div>
									</div>
								</el-tab-pane>

								<el-tab-pane label="Border" name="border_attrs"
									:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
									<div>
										<p class="class-title">Select the border</p>
										<el-row class="select-box border-select-box">
											<el-col :span="6" class="style-box-item-outer">
												<div class="select-box-item select-box-effect" :style="{
									  border: !qrCodeParameter.border
										? '1px solid #2255F4'
										: 'none',
									  background: !qrCodeParameter.border
										? 'rgba(0,53,145,0.1)'
										: '',
									}" @click="handleBorder('none')">
													<img src="../themes/img/none.png"
														style="width: 32px; height: 32px" />
													<p>None</p>
												</div>
											</el-col>
											<el-col :span="6" v-for="(item, index) in borderList" :key="index"
												class="style-box-item-outer">
												<div class="select-box-item" :style="{
									  border:
										currentBorderIndex == index
										  ? '1px solid #2255F4'
										  : 'none',
									  background:
										currentBorderIndex == index ? 'rgba(0,53,145,0.1)' : '',
									}" @click="handleBorder('list', item, index)">
													<img :src="item.frame_url" />
												</div>
											</el-col>
										</el-row>

										<div v-if="currentBorderIndex > -1">
											<p class="class-title">Outline color</p>
											<div class="custom-color">
												<el-color-picker v-model="qrCodeParameter.borderColor"
													@change="handleSetBorderColor"></el-color-picker>
												<el-checkbox v-model="qrCodeParameter.setBorderColor"
													@change="getQRCode" class="color-checkbox">
													Apply to a border </el-checkbox>
											</div>
										</div>
									</div>
								</el-tab-pane>

								<el-tab-pane label="Code points" name="codePoints_attrs"
									:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
									<div>
										<p class="class-title">Code points</p>
										<el-row class="select-box codePoint-select-box">
											<el-col :span="6" v-for="(item, index) in codePointList" :key="index"
												class="style-box-item-outer">
												<div class="select-box-item" :style="{
									  border:
										codePointIndex == index ? '1px solid #2255F4' : 'none',
									  background:
										codePointIndex == index ? 'rgba(0,53,145,0.1)' : '',
									}" @click="handleCodePoint(item, index)">
													<img :src="item.point_url" />
												</div>
											</el-col>
										</el-row>
										<div class="code-point-row">
											<div class="code-point-col">
												<p class="class-title">Zoom</p>
												<div class="code-point-slider">
													<el-slider v-model="qrCodeParameter.codePointScale" :min="30"
														:max="100" @change="getQRCode"></el-slider>
													<el-input-number style="width: 88px"
														v-model="qrCodeParameter.codePointScale"
														controls-position="right" :min="30" :max="100"
														@change="getQRCode" @blur="
										qrCodeParameter.codePointScale =
										  qrCodeParameter.codePointScale
											? qrCodeParameter.codePointScale
											: 100
									  "></el-input-number>
												</div>
											</div>
											<div class="code-point-col">
												<p class="class-title">Opacity</p>
												<div class="code-point-slider">
													<el-slider v-model="qrCodeParameter.codePointOpacity" :min="30"
														:max="100" @change="getQRCode"></el-slider>
													<el-input-number style="width: 88px"
														v-model="qrCodeParameter.codePointOpacity"
														controls-position="right" :min="30" :max="100"
														@change="getQRCode" @blur="
										qrCodeParameter.codePointOpacity =
										  qrCodeParameter.codePointOpacity
											? qrCodeParameter.codePointOpacity
											: 100
									  "></el-input-number>
												</div>
											</div>
										</div>
										<p class="class-title">Code eyes</p>
										<el-row class="select-box codePoint-select-box">
											<el-col :span="6" v-for="(item, index) in codeEyesList" :key="index"
												class="style-box-item-outer">
												<div class="select-box-item Buttonhole" :style="{
									  border:
										codeEyesIndex == index ? '1px solid #2255F4' : 'none',
									  background:
										codeEyesIndex == index ? 'rgba(0,53,145,0.1)' : '',
									}" @click="handleCodeEyes(item, index)">
													<img :src="item.point_buttonhole_url" />
												</div>
											</el-col>
										</el-row>
									</div>
								</el-tab-pane>

								<el-tab-pane label="Color" name="color_attrs"
									:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
									<div>
										<el-radio-group v-model="qrCodeParameter.foreType" class="radio-box">
											<el-radio :label="0">Solid color</el-radio>
											<el-radio :label="1">Gradient color</el-radio>
											<el-radio :label="2">Foreground diagram</el-radio>
										</el-radio-group>

										<div v-if="qrCodeParameter.foreType == 2" class="colorImg-container">
											<p class="class-title">Recommended gallery</p>
											<el-row class="select-box colorImg-select-box">
												<el-col :span="6" class="style-box-item-outer">

													<div v-if="!qrCodeParameter.uploadForeImgUrl"
														class="select-box-item select-box-effect"
														@click="handleOpenForeImgUpload">
														<img src="../themes/img/upload.png"
															style="width: 32px; height: 32px" />
														<p>Upload</p>
													</div>

													<div v-else class="select-box-item" :style="{
										border:
										  qrCodeParameter.uploadForeImgUrl &&
										  qrCodeParameter.foreImgUpload
											? '1px solid #2255F4'
											: 'none',
										background:
										  qrCodeParameter.uploadForeImgUrl &&
										  qrCodeParameter.foreImgUpload
											? 'rgba(0,53,145,0.1)'
											: '',
									  }" @click="handleForeImgUpload()">
														<img :src="qrCodeParameter.uploadForeImgUrl" />
														<div class="del-btn" @click.stop="handleDelUploadForeImg()">
															<i class="el-icon-error"></i>
														</div>
													</div>
												</el-col>
												<el-col :span="6" v-for="(item, index) in foreImgList" :key="index"
													class="style-box-item-outer">
													<div class="select-box-item" :style="{
										border:
										  foreImgIndex == index ? '1px solid #2255F4' : 'none',
										background:
										  foreImgIndex == index ? 'rgba(0,53,145,0.1)' : '',
									  }" @click="handleForeImg(item, index)">
														<img :src="item.foreground_url" />
													</div>
												</el-col>
											</el-row>
											<el-checkbox v-model="qrCodeParameter.setEyeColor" class="color-checkbox"
												style="margin: 0" @change=" getQRCode">
												Apply to the code eyes </el-checkbox>
										</div>

										<div v-else>
											<p class="class-title">Recommended colors</p>
											<div class="select-box color-container">

												<div v-if="qrCodeParameter.foreType == 0" class="color-box"
													v-for="color in solidColor" :key="color" :style="{
									  border:
										qrCodeParameter.foreColor1 == color
										  ? '1px solid #2255F4'
										  : '',
									}" @click="handleColor(color, 'solid')">
													<div class="color-box-inner" :style="{ background: color }">
													</div>
												</div>

												<div v-if="qrCodeParameter.foreType == 1" class="color-box"
													v-for="(colorArr, index) in gradientColor" :key="index" :style="{
									  border:
										qrCodeParameter.foreColor1 == colorArr[0] &&
										qrCodeParameter.foreColor2 == colorArr[1]
										  ? '1px solid #2255F4'
										  : '',
									}" @click="handleColor(colorArr, 'gradient')">
													<div class="color-box-inner" :style="{
										background:
										  'linear-gradient(180deg, ' +
										  colorArr[0] +
										  ' 0%, ' +
										  colorArr[1] +
										  ' 100%)',
									  }"></div>
												</div>
											</div>
										</div>

										<div class="color-select-box" v-if="
								  qrCodeParameter.foreType == 0 || qrCodeParameter.foreType == 1
								">
											<p class="class-title">Custom colors</p>
											<div style="display: flex; align-items: center">
												<el-color-picker v-model="qrCodeParameter.foreColor1"
													@change=" getQRCode">
												</el-color-picker>

												<el-color-picker class="color-select-right-box"
													v-if="qrCodeParameter.foreType == 1"
													v-model="qrCodeParameter.foreColor2"
													@change=" getQRCode"></el-color-picker>
												<el-checkbox v-model="qrCodeParameter.setEyeColor"
													class="color-checkbox" @change=" getQRCode">
													Apply to the code eyes </el-checkbox>
											</div>
										</div>

										<div v-if="qrCodeParameter.foreType == 1">
											<p class="class-title">Gradient direction</p>
											<el-radio-group v-model="qrCodeParameter.gradientWay" class="radio-box"
												@change=" getQRCode">
												<el-radio :label="0">Vertical</el-radio>
												<el-radio :label="1">Horizontal</el-radio>
												<el-radio :label="2">Diagonal</el-radio>
												<el-radio :label="3">Center</el-radio>
											</el-radio-group>
										</div>

										<div class="color-select-box">
											<p class="class-title">Background color</p>
											<el-color-picker v-model="qrCodeParameter.background" @change=" getQRCode">
											</el-color-picker>
										</div>
										<div>
											<div class="color-select-box">
												<p class="class-title">Code inside the eye</p>
												<el-color-picker v-model="qrCodeParameter.eyeInColor"
													@change="handleSetCodeEyesColor"></el-color-picker>
											</div>
											<div class="color-select-box">
												<p class="class-title">Code outside the eye</p>
												<el-color-picker v-model="qrCodeParameter.eyeOutColor"
													@change="handleSetCodeEyesColor"></el-color-picker>
											</div>
										</div>
									</div>
								</el-tab-pane>

								<el-tab-pane label="Text" name="text_attrs"
									:disabled="qrCodeParameter.codeType == 'qrcode' ? false : true">
									<div>
										<div class="flex-row">
											<div class="flex-col">
												<p class="class-title">Size</p>
												<el-input-number style="width: 100%" v-model="qrCodeParameter.fontSize"
													controls-position="right" :min="16" :max="48" @change=" getQRCode"
													@blur="
									  qrCodeParameter.fontSize = qrCodeParameter.fontSize
										? qrCodeParameter.fontSize
										: 38
									"></el-input-number>
											</div>
											<div class="flex-col">
												<p class="class-title">Font</p>
												<el-select style="width: 100%" v-model="qrCodeParameter.fontFamily"
													placeholder="Please select" @change=" getQRCode">
													<el-option label="宋体" value="SimSun"></el-option>
													<el-option label="黑体" value="SimHei"></el-option>
													<el-option label="楷体" value="KaiTi"></el-option>
												</el-select>
											</div>
											<div class="flex-col">
												<p class="class-title">Text color</p>
												<el-color-picker v-model="qrCodeParameter.fontColor"
													@change=" getQRCode">
												</el-color-picker>
											</div>
										</div>
										<div class="add-text-box">
											<p class="class-title">Add text
											</p>
											<el-input class="text-input-box" v-model="qrCodeParameter.textContent1"
												placeholder="Enter the first line of text you want to add"></el-input>
											<el-input class="text-input-box" v-model="qrCodeParameter.textContent2"
												placeholder="Please enter the second line of text you want to add"></el-input>
											<div>
												<el-button class="text-confirm" style="margin-left: 0" type="text"
													@click=" getQRCode"></el-button>
												<el-button class="text-confirm"
													style="color: #929293 !important; margin-left: 12px" type="text"
													@click="handleClear()">Clear</el-button>
											</div>
										</div>
										<div>
											<p class="class-title">Text position</p>
											<el-radio-group v-model="qrCodeParameter.textPoistion" class="radio-box"
												@change=" getQRCode">
												<el-radio :label="2">Code outside</el-radio>
												<el-radio :label="1">Code in the middle</el-radio>
											</el-radio-group>
										</div>
									</div>
								</el-tab-pane>

								<el-tab-pane label="Other settings" name="other_attrs">
									<div class="other-container">
										<div class="flex-row">
											<div class="flex-col-other">
												<p class="class-title">QR code margins</p>
												<el-select style="width: 100%" v-model="qrCodeParameter.margin"
													placeholder="Please select"
													:disabled="qrCodeParameter.codeType != 'qrcode'"
													@change=" getQRCode">
													<el-option label="None" :value="0"></el-option>
													<el-option label="1 color block" :value="1"></el-option>
													<el-option label="2 color block" :value="2"></el-option>
													<el-option label="3 color block" :value="3"></el-option>
													<el-option label="4 color block" :value="4"></el-option>
												</el-select>
											</div>
											<div class="flex-col-other">
												<p class="class-title">Error correction rate</p>

												<el-input-number v-if="
									  qrCodeParameter.codeType == 'azteccode' ||
									  qrCodeParameter.codeType == 'hibcazteccode'
									" style="width: 100%" v-model="qrCodeParameter.eclevel" controls-position="right" :min="5" :max="95" @blur="
									  qrCodeParameter.eclevel = qrCodeParameter.eclevel
										? qrCodeParameter.eclevel
										: 23
									" @change=" getQRCode"></el-input-number>

												<el-select v-else style="width: 100%" v-model="qrCodeParameter.eclevel"
													placeholder="Please select" @change=" getQRCode" :disabled="
									  !currentCodeType.eclevelList ||
									  currentCodeType.eclevelList.length < 1
									">
													<el-option v-for="item in currentCodeType.eclevelList"
														:key="item.value" :label="item.label"
														:value="item.value"></el-option>
												</el-select>
											</div>
										</div>
										<div class="ratio-box">
											<p class="class-title">Image resolution</p>
											<el-select style="width: 100%" v-model="qrCodeParameter.ResolutionRatio"
												placeholder="Please select" @change=" getQRCode">
												<el-option label="96" :value="0"></el-option>
											</el-select>
										</div>
										<div>
											<p class="class-title">Image format</p>
											<el-select style="width: 100%" v-model="qrCodeParameter.ImageType"
												placeholder="Please select" @change=" getQRCode">
												<el-option label="JPG" :value="0"></el-option>
												<el-option label="PNG" :value="1"></el-option>
												<el-option label="GIF" :value="2"></el-option>
												<el-option label="SVG" :value="3"></el-option>
											</el-select>
										</div>
									</div>
								</el-tab-pane>
							</el-tabs>
						</div>
					</el-drawer>
					<input id="logoUpload" style="display: none;" type="file" accept="image/png,image/jpg,image/jpeg"
						@change="handleLogoSuccess" />
					<input id="foreImgUpload" style="display: none;" type="file" accept="image/png,image/jpg,image/jpeg"
						@change="handleForeImgSuccess" />
				</div>


				<div v-if="showModal" v-cloak class="copy-dialog-wrapper" @click="showModal = false">
					<div class="copy-dialog-box" @click.stop="">
						<div class="copy-dialog-header">
							<div>Copy Barcode Link</div>
							<i class="el-icon-close" style="cursor: pointer" color="#7F8792"
								@click="showModal=false"></i>
						</div>
						<div class="copy-dialog-body">
							<div class="copy-form-item">
								<p class="copy-form-item-title">Link to This Barcode Image</p>
								<el-input v-model="copyLinkData.imgLink" readonly>
									<el-button slot="append" type="text" style="color: #2255f4"
										@click="handleCopy('imgLink')">
										Copy</el-button>
								</el-input>
							</div>
							<div class="copy-form-item">
								<p class="copy-form-item-title">Link to This Page</p>
								<el-input v-model="copyLinkData.createImgLink" readonly>
									<el-button slot="append" type="text" style="color: #2255f4"
										@click="handleCopy('createImgLink')">Copy</el-button>
								</el-input>
							</div>
							<div class="copy-form-item">
								<p class="copy-form-item-title">Embed Code Snippet</p>
								<el-input v-model="copyLinkData.imgLinkTag" readonly>
									<el-button slot="append" type="text" style="color: #2255f4"
										@click="handleCopy('imgLinkTag')">Copy</el-button>
								</el-input>
							</div>
						</div>
					</div>
				</div>
			</div>




			<script>

				const currentCodeType = {
					title: 'Text',
					type: "text",
					code: "qrcode",
					codeType: "QRCode",
					tutorialSearch: 'Text QR Code',
					icon: "/themes/img/code/type-icon-1.png",
					defaultImage: "/uploads/code-images/QR-code-data.png",
					introduceList: [{
						title: 'Text QR code generator online',
						img: "/themes/img/qrcode_text.png",
						text: [
							'Convert any text to a QR code, supporting GIF, JPG, PNG, SVG image formats',
							'Flexible and convenient QR code beautification tool, support QR code logo, frame, code point, code eye, color, text beautification',
						],
					},],
					tutorial: [],
					medium: "Medium",
					medium_high: "Medium High",
					high: "High",
					low: "Low",
				}

				window.onload = function () {
					window.addEventListener('scroll', throttleHandleScroll);

					function throttleHandleScroll() {
						let screenWidth = document.body.clientWidth;
						if (screenWidth > 992) {
							throttle(handleScroll(), 300)
						}
					}
					function handleScroll() {
						let scrollHeight = document.body.scrollHeight
						let scrollTop = document.documentElement.scrollTop || document.body.scrollTop
						let footer_height = document.getElementsByClassName('footer')[0].offsetHeight
						let menu_height = document.getElementsByClassName('code-menu-box')[0].offsetHeight
						let max = scrollHeight - footer_height - menu_height - 88
						let codeMenuBox = document.getElementById('codeMenuBox')
						codeMenuBox.style.top = `${scrollTop > max ? 88 + max : 88 + scrollTop}px`
					}
				}
			</script>
			<script src="../themes/js/qrcode/qr-code-generator.js" type="text/javascript"></script>
			<script>
				var create = false;
				$(document).ready(function () {
					// Logic cho dropdown chọn loại mã đã bị xóa vì không có thẻ HTML tương ứng

				});

				vm.$on('codeImgChanged', function (base64url) {

					if (base64url) {
						$('#codeImg').attr('src', base64url)
						$('.code-yes').show()
						$('.code-no').hide()
					} else {
						$('.code-yes').hide()
						$('.code-no').show()
					}

				});


				function handleResetParameter(val) {
					vm.handleResetParameter(val)
				}


				function handleOutsideButton(fun) {

					if (fun == 'handleOpenQRCodeSetting') {
						if (create == false) {
							getBarCodeData();
							create = true;
						}
					}
					vm[fun]()
				}
				let timerTextarea = null

				let textarea = document.getElementById("codeTextarea");

				function getBarCodeData() {
					this.value = document.getElementById("codeTextarea").value;

					if (timerTextarea) {
						clearTimeout(timerTextarea)
					}
					timerTextarea = setTimeout(() => {
						vm.handleInputData(this.value)
					}, 200)
				}

			</script>
	</body>

</html>

<script type="text/javascript">
	$("#nav-qrcode").addClass("select-nav");
</script>