input {
  outline: none;
}

input:disabled,
input[disabled] {
  color: #333333 !important;
  opacity: 1;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  font-size: 16px;
}

input,
button,
select,
textarea {
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-size: 14px;
  background: #f2f4f9;
  /*height: 100%;*/
  /* height: 100vh; */
}

select {
  outline: none;
}

img {
  border: 0px;
  display: block;
  height: 100%;
}

a {
  text-decoration: none !important;
}

li {
  /*list-style-type: none;*/
}

* {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  /* scrollbar-color: #97a8be #97a8be;
	scrollbar-width: thin;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) */
}

/* 谷歌浏览器滚动条样式 */
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #97a8be;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #606266;
}

[v-cloak] {
  display: none;
}

.el-popup-parent--hidden {
  padding-right: 0 !important;
}

.el-breadcrumb__item {
  line-height: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #7b89a1;
}

.el-breadcrumb__inner a:hover,
.el-breadcrumb__inner.is-link:hover {
  color: #2255f4 !important;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #2255f4 !important;
}

.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus,
.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus {
  border-color: #f56c6c !important;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #2255f4 !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #2255f4 !important;
  color: #ffffff !important;
}

.el-submenu.is-active .el-submenu__title {
  border-bottom-color: #2255f4 !important;
}

.el-submenu__title:hover {
  background: rgba(0, 53, 145, 0.1) !important;
}

.el-message {
  min-width: 280px !important;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #ffffff !important;
  color: #2255f4 !important;
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: #2255f4 !important;
}

.el-select-dropdown__item.selected {
  color: #2255f4 !important;
  font-weight: 400 !important;
}

.el-textarea__inner:focus {
  border-color: #2255f4 !important;
}

.el-tabs__item {
  color: #1a1d21 !important;
  font-size: 20px !important;
  height: 32px !important;
  line-height: 28px !important;
  padding: 0 20px !important;
}

.el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
.el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
.el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
.el-tabs--top .el-tabs__item.is-top:nth-child(2) {
  padding-left: 0 !important;
}

.el-tabs--bottom .el-tabs__item.is-bottom:last-child,
.el-tabs--bottom .el-tabs__item.is-top:last-child,
.el-tabs--top .el-tabs__item.is-bottom:last-child,
.el-tabs--top .el-tabs__item.is-top:last-child {
  padding-right: 0 !important;
}

.el-tabs__item.is-active {
  color: #2255f4 !important;
}

.el-tabs__active-bar {
  background-color: #2255f4 !important;
}

.el-tabs__item.is-disabled {
  color: #c0c4cc !important;
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: #2255f4 !important;
}

.el-input-number__decrease:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled) {
  border-color: #2255f4 !important;
}

.el-button--text {
  color: #2255f4 !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #2255f4 !important;
  border-color: #2255f4 !important;
}

.el-checkbox__inner:hover {
  border-color: #2255f4 !important;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #2255f4 !important;
}

.el-slider__bar {
  background-color: #2255f4 !important;
}

.el-slider__button {
  border: 2px solid #2255f4 !important;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #2255f4 !important;
  background: #2255f4 !important;
}

.el-radio__inner:hover {
  border-color: #2255f4 !important;
}

.el-dialog__headerbtn:focus,
.el-dialog__headerbtn:hover {
  color: #2255f4 !important;
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: #2255f4 !important;
}

@media (max-width: 992px) {
  .el-tabs__item {
    font-size: 18px !important;
    padding: 0 15px !important;
  }
}

.breadcrumb-box {
  margin: 16px 0;
  width: 100%;
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
}

.breadcrumb-box a {
  font-size: 16px !important;
  color: #7f8792 !important;
  line-height: 28px !important;
  display: inline-block !important;
}

.breadcrumb-box span {
  font-size: 16px;
  color: #22252a;
  line-height: 28px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  appearance: textfield;
}
